<section>

  <h1>TITULO DEL EJERCICIO</h1>

<form action="" method="post">

  <label for="">#USER#</label>
  <br/>
  <input type="text" name="user" value=""/>
  <br/>

  <label for="">#PASS#</label>
  <br/>
  <input type="password" name="pass" value="" />
  <br/>

  <br/>

  <input id ="button" type="submit" name="Enviar" value="Enviar" />
</form>
<section>
  <?php

    if (isset($_POST['Enviar'])) {

      //values
      $val = $_POST['num'];


      if ($val != null){



      } else {
        echo "value/s empty";
      }

    }
  ?>
</section>
</section>
